body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fpattern%2F&psig=AOvVaw2FVyQ02PVaIXJZ8e_4vIfu&ust=1677083353713000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCND2ncGEp_0CFQAAAAAdAAAAABAD");
}

html{
  font-size:62.5%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
